<h1>Background: {{model.test}}</h1>

<br>

<button {{action 'changeBackgroundto0' background}}>Change background color!</button>
<button {{action 'changeBackgroundto1' background}}>Change background color!</button>
